<a href="https://colab.research.google.com/github/neto-riga/Metodos_Numericos/blob/main/Ejercicio_10_Jacobi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [Regresar al ínidce](https://github.com/neto-riga/Metodos_Numericos/blob/main/Portafolio.md#índice)

# Método de Jacobi
#### Martínez Venegas Raúl
#### Rivera Gálvez Ernesto
---

Sea el siguiente sistema de ecuaciones:


$$\begin{eqnarray}
2x_{1} - x_{2} + 10x_{3} - x_{4} &=& 45 \\ -x_{1} + 8x_{2} - x_{3} + 3x_{4} &=& 15 \\ 2x_{1} + 3x_{2} - x_{3} + 8x_{4} &=& -39 \\ 9x_{1} - x_{2} + 2x_{3} - 2x_{4} &=& -11
\end{eqnarray}$$

* Verificar que la matriz sea EDD, sino reordenar los renglones.
* Tomar como vector inicial el vector de ceros.
* Realizar 10 iteraciones.
* Calcular el error con las cinco últimas iteraciones.

Por lo tanto, obtenemos las siguientes matrices:

$$A = \begin{bmatrix}
 2& -1& 10& -1\\
-1&  8& -1& 3\\
 2&  3& -1& 8\\
 9& -1&  2& -2
\end{bmatrix}
b = \begin{bmatrix}
 45\\
 15\\
-39\\
-11
\end{bmatrix}
$$

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sympy import*

In [ ]:
def printmat(m, x, b):
  print(" X\t\t", "\t"*int(n/2), 'A', '\t'*int(n/2 + n%2), 'B')
  for i in range(n):
    print(f'{x[i][0]:.4g}\t|', end='\t')
    for j in range(n):
      print(f'{m[i,j]:.4g}', end='\t')
    print(f'|{b[i][0]:.4g}')

Inicializamos arreglos con las dimenciones deseadas, en este caso, de $4$x$4$, después, los llenamos con los valores de nuestra matriz $A$ y $b$

In [ ]:
n = 4
mat = np.eye(n)
x_prev = np.zeros(n).reshape(n,1)
x_sig = x_prev.copy()
x_sol = x_prev.copy()
b = np.zeros(n).reshape(n,1)
mat[0]= [2,-1,10,-1]
b[0] = 45
mat[1] = [-1,8,-1,3]
b[1] = 15
mat[2]=[2,3,-1,8]
b[2] = -39
mat[3]=[9,-1,2,-2]
b[3] = -11

Realizamos el cambio de columnas de ser necesario para obtener una matriz EDD y mostramos el resultado una vez realizados dichos cambios, además de aplicar el método.

In [ ]:
mayor = {
    'valor': 0,
    'columna': 0
  }
cam_x=[]
cam_p=[]
for i in range(n):
  mayor['valor'] = 0
  for k in range(n):
    if abs(mat[i,k]) > abs(mayor.get('valor')): # Encuentra el mayor elemento
      mayor['valor'] = mat[i,k] # Guarda el valor del elemento
      mayor['columna'] = k # Guarda la columna en la que se encuentra
  if abs(mayor['valor']) != abs(mat[i,i]): # Si el i,i no es el mayor
    mat[:,[k, mayor.get('columna')]] = mat[:,[mayor.get('columna'), k]] # intercambiar las columnas
    cam_x.append(mayor.get('columna'))
    cam_p.append(k)
for i in range(n):
  suma_resto = 0
  for j in range(n):
    if j != i:
      suma_resto += abs(mat[i, j])
  if abs(mat[i, i]) < suma_resto:
    raise ValueError("Su matriz no es EDD")
print("Matriz EDD")
printmat(mat,x_prev,b)

x_frame = x_prev.copy()
for iter in range(10):

  for i in range(n):
    x_sig[i] = b[i][0] / mat[i, i]
    for j in range(n):
      if j != i:
        x_sig[i] -= mat[i,j] / mat[i, i] * x_prev[j][0]
  x_sol = x_sig.copy()
  for g in range(len(cam_x)):
    x_sol[[cam_x[g-1], cam_p[g-1]]]=x_sol[[cam_p[g-1], cam_x[g-1]]]
  x_frame = np.append(x_frame, x_sol.copy(), axis=1)
  x_prev = x_sig.copy()

Matriz EDD
 X		 		 A 		 B
0	|	10	-1	-1	2	|45
0	|	-1	8	3	-1	|15
0	|	-1	3	8	2	|-39
0	|	2	-1	-2	9	|-11

La matriz impresa anteriormente es la matriz con el cambio de columnas para que sea EDD. A continuación se muestra el comportamiento de las soluciones en cada iteración.

In [ ]:
nombres = [f'x{i}' for i in range(len(x_frame[0]))]
X = pd.DataFrame(x_frame,
                 columns=nombres)
X

    x0        x1        x2        x3  ...        x7        x8        x9       x10
0  0.0 -1.222222 -3.097222 -2.799576  ... -2.995090 -3.002204 -2.999103 -3.000402
1  0.0  1.875000  4.112847  3.809679  ...  3.995342  4.002411  3.999110  4.000427
2  0.0  4.500000  4.444444  5.059722  ...  5.004193  4.998213  5.000786  4.999674
3  0.0 -4.875000 -4.710069 -5.087457  ... -5.003396 -4.998957 -5.000577 -4.999792

[4 rows x 11 columns]

Por lo tanto, el vector solución del sistema de ecuaciones es:

In [ ]:
R = Matrix(x_sol)
R.evalf(3)

Matrix([
[-3.0],
[ 4.0],
[ 5.0],
[-5.0]])

A conticuación se muestra el calculo del error de las últimas cinco iteraciones.

In [ ]:
error = []
for i in range(len(x_frame[0])-5,len(x_frame[0])):
  error.append(x_frame[:, (i)] - x_frame[:,(i-1)])
for i in range(5):
  mayor = 0
  for j in error[i]:
    if abs(mayor)<abs(j):
      mayor = j
  error[i]= np.append(error[i], abs(mayor))
nombres2 = [f'x{i} - x{i-1}' for i in range(len(x_frame[0])-5,len(x_frame[0]))]
X1 = pd.DataFrame(error,
                 columns=nombres2)
inx = [f'{i+1}' for i in range(n)]
inx.append('ɛ')
X1['Valores'] = inx
X1.set_index('Valores', inplace=True)
X1

          x6 - x5   x7 - x6   x8 - x7   x9 - x8  x10 - x9
Valores
1       -0.040429  0.039417 -0.030470  0.024599  0.040429
2        0.016617 -0.018087  0.014488 -0.008483  0.018087
3       -0.007114  0.007069 -0.005980  0.004439  0.007114
4        0.003101 -0.003302  0.002574 -0.001620  0.003302
ɛ       -0.001299  0.001317 -0.001112  0.000785  0.001317

## [Regresar al ínidce](https://github.com/neto-riga/Metodos_Numericos/blob/main/Portafolio.md#índice)